@import '../../../../../../Components/GlobalStyles/Responsive/responsive.scss';

.board {
    padding: 20px 0 0;

    .header_left {
        display: flex;
        margin-bottom: 20px;

        .header_path {
            a {
                text-decoration: none;
                font-size: 13px;
                color: var(--primary);

                &:hover {
                    color: #00a8eb;
                }
            }
        }

        .vertical {
            padding: 0 4px;
            font-weight: 100;
        }

        .header_text {
            font-weight: 500;
            display: flex;
            align-items: center;
            p {
                font-size: 13px;
                margin-top: 3px;
            }
        }
    }

    .board__header {
        margin: 20px 0;
        text-align: center;

        h1 {
            font-size: 40px;
            color: var(--primary);
        }
    }
    .board__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        .board__wrap_date {
            display: flex;
            align-items: center;
            font-size: 16px;
            p {
                margin-left: 3px;
            }
        }
        .board__wrap_feature {
            display: flex;

            a {
                display: flex;
                align-items: center;
                margin-left: 6px;

                :hover {
                    background: #00a8eb;
                    color: #fff;
                }

                svg {
                    font-size: 34px;
                    padding: 6px;
                    color: #404040;
                    border: 1px solid #e5e5e5;
                    border-radius: 50%;
                    transition: all, 0.3s;
                    background: #fff;
                    cursor: pointer;
                    box-shadow: 0px 0px 10px 0px rgb(213 208 208 / 30%);
                }
            }
        }
    }
}

@include Responsive($MOBILE_DEVICE) {
    .board {
        .board__header {
            h1 {
                font-size: 30px;
                line-height: normal;
            }
        }
    }
}
