@import '../../../GlobalStyles/Responsive/responsive.scss';

.footer {
    --primary-color-footer: #99b5c5;
    height: 400px;
    width: 100%;
    background-color: var(--primary);
    border-top: 4px solid rgba(0, 0, 0, 0.05);
    padding-top: 50px;

    .footer__content {
        display: flex;
        justify-content: space-between;

        .footer__content_about {
            h3 {
                color: #fff;
                margin-bottom: 22px;
            }
            ul {
                display: flex;
                color: var(--primary-color-footer);

                li:first-child {
                    margin-right: 10px;
                    font-size: 20px;
                }

                li {
                    list-style: none;
                    font-size: 14px;
                    line-height: 40px;
                }
            }
        }
    }

    .footer__content_widget {
        h4 {
            color: #fff;
            margin-bottom: 10px;
        }

        ul {
            li {
                list-style: none;
                border-bottom-style: solid;
                border-bottom-color: hsla(0, 0%, 100%, 0.2);
                border-width: 1px;
                a {
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 40px;
                    color: var(--primary-color-footer);

                    &:hover {
                        color: #fff;
                    }
                }
            }
            li:last-child {
                border: none;
            }
        }
        .footer__content_member {
            margin-top: 16px;
        }

        form {
            margin-bottom: 30px;

            .input__group {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                    width: 100%;
                    font-size: 16px;
                    padding-left: 20px;
                    color: #fff;
                    height: 46px;
                    border-color: transparent;
                    background: rgba(255, 255, 255, 0.1);

                    ::placeholder {
                        color: var(--primary-color-footer);
                    }
                }

                input:focus-visible {
                    outline: none;
                }

                button {
                    width: auto;
                    padding: 0 10px;
                    height: 36px;
                    min-width: 86px;
                    border: 1px solid #00a8eb;
                    background: #00a8eb;
                    font-size: 14px;
                    color: #fff;
                    cursor: pointer;
                    align-self: flex-start;

                    &:hover {
                        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
                        color: #fff;
                        opacity: 1;
                        outline: none;
                    }
                }
            }
        }
    }
    .footer__widget_social {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 30px;

        div {
            :hover {
                background: #00a8eb;
                color: #fff;
                border-color: #fff;
            }

            svg {
                font-size: 34px;
                padding: 6px;
                color: #404040;
                border: 1px solid #ededed;
                border-radius: 50%;
                transition: all, 0.3s;
                background: #fff;
                cursor: pointer;
            }
        }
    }
}

.footer__license {
    background-color: #1d6188;
    border-top-style: solid;
    border-top-color: hsla(0, 0%, 100%, 0.2);
    border-width: 1px;

    .footer__license_content {
        color: #fff;
        font-size: 18px;
        text-align: center;
        padding: 10px 0;

        h5 {
            font-weight: normal;
        }
        h5:first-child {
            margin-bottom: 2px;
        }
    }
}

@include Responsive($TABLE_DEVICE) {
    .footer {
        height: max-content;

        .footer__content {
            flex-wrap: wrap;
            padding: 10px 25px;
        }
    }

    .width__half {
        width: 50%;
        padding: 10px;
    }
}

@include Responsive($MOBILE_DEVICE) {
    .footer {
        height: max-content;

        .footer__content {
            flex-wrap: wrap;
            padding: 10px 0;
        }

        h3 {
            margin-left: 70px;
        }
    }

    .width__mobile_footer {
        width: 100%;
        padding: 15px 0;
    }
}
