.scroll_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #777;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--primary);
    }
}
